.carusel{
    margin-top: 2em;
    margin-bottom: 2em;
}
.imgenes{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10vw;
    
}
.titulo{
    font-family: "Karmatic Arcade",sans-serif;
}

@font-face {
    font-family: 'Karmatic Arcade';
    src:  local("Karmatic Arcade"), 
    url('../font/ka1.ttf') format('truetype'),
    url("../font/ka1.woff") format("woff");    
}

body {
    background-color: #212529;
    color: #ffffff;
}

.titulo {
    font-size: 2em;
    color: #9D9DF2;
    text-shadow: 2px 2px #4B4B9C;
}

/* Tarjetas y carousel */
.card {
    border-radius: 10px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    
    .titulo {
        font-size: 1.5em;
    }

    .carusel {
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 20px;
    }

    .row > .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .carousel-inner > .carousel-item > img {
        height: auto;
        max-width: 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

footer {
    background-color: #212529;
    color: #ffffff;
    padding: 20px 0;
}

footer h5 {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #9D9DF2;
    text-shadow: 1px 1px #4B4B9C;
}

footer p,
footer a {
    font-size: 0.9em;
}

footer a {
    color: #9D9DF2 !important; 
    text-decoration: none;
}

@media (max-width: 768px) {
    footer .row > div {
        text-align: center;
        margin-bottom: 20px;
    }

    footer .fab {
        margin-right: 10px;
    }
}

.icono{
    height: 10vh;
    width: auto;
}

html, body {
    height: 100%;
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    /* Estilos para el footer */
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.styled-link {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    background-color: #7c4dff; /* Color de fondo similar a los cuadros morados */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 8px; /* Bordes redondeados */
    font-family: 'Press Start 2P', cursive; /* Asegúrate de que la fuente coincida */
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.styled-link:hover {
    background-color: #5a34cc; /* Color de fondo al pasar el ratón */
    color: #e0e0e0; /* Color del texto al pasar el ratón */
}